.col1 img{
    /* position: absolute; */
    width: 150px;
    height: 150px;
    margin-left: 125px;
    margin-bottom: 60px;
    margin-top: 30px;
    
}

.col1{
    /* border: 2px solid black; */
    background-color: rgb(207, 193, 163);
    width: 400px;
    height: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    position: absolute;
}

.col1 h5{
    color: black;
    margin-left: 20px;
    width: 300px;
    /* height: 50px; */
    background-color: grey;
}


.col1 i{
    position: absolute;
    margin-left: 20px;
    margin-top: px;
}


.home i{
    top: 276px;
}
.home p{
    position: absolute;
    left: 25px;
    top: 272px;
}

.phone i{
    position: absolute;
    top: 355px;
}
.phone p{
    position: absolute;
    left: 25px;
    top: 350px ;
}

.email i{
    position: absolute;
    top: 386px;
}
.email p{
    position: absolute;
    left: 25px;
    top: 380px;
}

.edu{
    position: absolute;
    top: 500px;
}

.skills{
    position: absolute;
    top: 800px;
}
.col1 p{
    margin-left: 20px;
    margin-top: px;
}

.row{
    height: 150px;
    width: 1530px;
    background-color: grey;
    /* border: 2px solid black; */
    /* margin-bottom: 5000px; */
    margin-left: 420px;
    position: relative;

}

.col2 h1{
    color: black;
    position: absolute;
    left: 1100px;
    top: 80px;

}

.col3{
    /* color: darkmagenta; */
    position: absolute;
    height: 1050px;
    width: 1530px;
    left: 412px;
    /* border: 2px solid black; */
    top: 150px; 
    background-color: grey
    ;
}

.col3 h4{
    background-color:rgb(207, 193, 163);
    color:black;
    width: 300px;
    margin-left: 15px;
    /* text-align: center; */
}

.col3 p{
    
    margin-left: 25px;
}


